{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
    <div class="content">
        <h1>RPGAIAI</h1>
        <p>{{ room_description }}</p>
        <form method="POST">
            {% for obj in objects %}
                <button type="submit" name="object" value="{{ obj }}">{{ obj }}</button>
            {% endfor %}
            <input type="hidden" name="room_description" value="{{ room_description }}">
            <input type="hidden" name="objects" value="{{ objects }}">
        </form>
        {% if objDescription %}
            <p id="objectDescription">{{ objDescription }}</p>
        {% endif %}
    </div>
{% endblock %}

