{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
    <div class="content">
        <h1>RPGAI</h1>
        <p>{{ room_description }}</p>
        <form method="POST">
            {% for obj in objects %}
                <p>{{ obj }}:
                <button type="submit" name="object" value="{{ obj }}">Description</button>
                <button type="submit" name="pickup" value="{{ obj }}">Add to inventory</button>
                </p>
            {% endfor %}
            <input type="hidden" name="room_description" value="{{ room_description }}">
            <input type="hidden" name="objects" value="{{ objects }}">
        </form>
        {% if objDescription %}
            <p id="objectDescription">
                <h3>Object description: </h3>
                {{ objDescription }}
            </p>
        {% endif %}
        <h3>Inventory:</h3>
        {% for i in inventory %}
            <p>{{ i }}</p>
        {% endfor %}
    </div>
{% endblock %}

