{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="content">
    <H1>{{ room_name }}</H1>
    <p>{{ room_description }}</p>
    <p>{{ player_monster_actions }}</p>
    {% for obj in objects %}
        <form method="POST" action="/">
            <button type="submit" name="object" value="{{ obj }}">Inspect {{ obj }}</button>
            <button type="submit" name="pickup" value="{{ obj }}">Pick up {{ obj }}</button>
        </form>
    {% endfor %}
    {% for door in doors %}
        <form method="POST" action="/">
            <button type="submit" name="adoor" value="{{ door }}">Go through {{ door }}</button>
        </form>
    {% endfor %}

     {% if objDescription %}
    <h2>Object Description</h2>
    <p>{{ objDescription }}</p>
    {% endif %}

    <h2>Inventory</h2>
    <ul>
        {% for item in inventory %}
            <li>{{ item }}</li>
        {% endfor %}
    </ul>
    <h2>Visited Rooms</h2>
    <ul>
        {% for room in entered_rooms %}
        <li>
            <form method="post" style="display:inline;">
                <button type="submit" name="previous_room" value="{{ loop.index0 }}">Go back to {{ room.room_name_current }}</button>
            </form>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

